body
{

    color:white;
    background-color: #333333;
    font-family: sans-serif;
    font-style:italic;
}
header
{
    background-color:lightseagreen;
}
a
{
    color:white;
}
h1 > a
{
font-size: large;
font-weight: 700;
}
a:hover
{
    text-decoration: none;
    color: white;
}
li:hover
{
    opacity: .7;
    background-color: black;
}
*
{
    box-sizing: border-box;
}
ul
{
    list-style-type: none;
    margin-left: 70%;
    padding: 10px;
}
li
{
    padding:10px;
    display: inline;
    font-size: medium;
}

#chicken
{
    color:black;
   background-color: tomato;
}
#beef
{
    color:black;
   background-color: yellow;
}
#suchi
{
    color:black;
   background-color: lime;
}

#chicken-page
{
    text-align: center;
    background-color: mediumslateblue;
}
/*
@media (min-width:768px)
{
   
}*/
@media (max-width:767px)
{
    ul
    {
        list-style-type: none;
        margin-left:35%;
        padding:5px;
    }
    li
    {
        padding: 10px;
        display:inline;
        font-size: medium;
    }
}

.navbar-brand
{
    margin: 0;
}





div div
{
    border:5px solid black;
    background-color: gray;
    margin: 3px;
}
div div p
{
    border:2px solid black;
    padding:2px;
    background-color: greenyellow;
    margin:0px;
    font-size: 175%;
    float:right;
    width:fit-content;

}
div div div
{
    border:none;
    font-size: 125%;
    clear:right;
}
/*for the desktop version*/
@media(min-width: 992px)
{
.desktop
{
    width:32.5%;
    box-sizing: border-box;
    float: left;
}

}
/*for the tablet version*/
@media(min-width:768px) and (max-width:991px)
{
    .desktop
    {
        width:48%;
        box-sizing: border-box;
        float: left;     
    }
div:nth-child(3)
{
width:96%;
}
 
}
